#chessboard {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 8vw; /* 棋盤寬度仍為視窗寬度的80% */
    height: 45.2vw; /* 寬度的5.65倍 */
    background-image: url('images/B_B_0.jpg');
    background-size: 100% 100%; /* 調整背景圖片完全填滿棋盤 */
    background-repeat: no-repeat;
    border: 2px solid black;
    background-color: white;
}
@media (max-width: 600px) {
    #chessboard {
        width: 16vw; /* 在小屏幕上增加棋盘宽度为视口宽度的90% */
        height: 90.4vw; /* 高度同样增加以保持比例 */
        background-color: red;
    }
}
#chessboard2 {
    background-image: url('images/B_B_1.png');
    background-size: contain;
    position: relative; /* 這允許我們絕對定位內部的棋子 */
    width: 1134px; /* 這應該與你的圖片寬度相匹配 */
    height: 1134px; /* 這應該與你的圖片高度相匹配 */
}
html, body {
    max-height: 100vh; /* 视口高度 */
    overflow: hidden; /* 隐藏超出部分，防止滚动 */
}
@media (max-width: 600px) {
    .control-button, .piece-button {
        width: 15vw; /* 在小屏幕上调整按钮宽度 */
        height: 15vw; /* 在小屏幕上调整按钮高度 */
    }
}
#button-container {
    position: absolute;
    bottom: 30vh; /* 调整底部距离 */
    right: 0;
    width: auto; /* 容器宽度自动调整 */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    align-items: flex-end; /* 子元素居中对齐 */
}
.piece-button {
    background-size: cover;
    width: 10vw; /* 根据需要调整宽度 */
    height: 10vw; /* 高度与宽度保持一致，保持棋子的比例 */
}
#pieces {
    display: flex; /* 使用flex布局使棋子按钮水平排列 */
    flex-wrap: wrap; /* 允许棋子包裹到下一行 */
    justify-content: flex-end; /* 居中对齐棋子 */
    width: 80%; /* 宽度充满父容器 */
}
.control-button, .piece-button {
    margin: 0.5vw; /* 统一按钮间距 */
    cursor: pointer;
    font-size: 2vw; /* 统一字体大小 */
}
#piece1 {
    top: calc(100vh - 20vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 30vw;
    background-image: url('images/C_P_0.png');
}
#piece2 {
    top: calc(100vh - 20vw);
    left: 40vw;
    background-image: url('images/C_P_1.png');
}
#piece3 {
    top: calc(100vh - 20vw);
    left: 50vw;
    background-image: url('images/C_P_2.png');
}
#piece4 {
    top: calc(100vh - 20vw);
    left: 60vw;
    background-image: url('images/C_P_3.png');
}
#piece5 {
    top: calc(100vh - 20vw);
    left: 70vw;
    background-image: url('images/C_P_4.png');
}
#piece6 {
    top: calc(100vh - 20vw);
    left: 80vw;
    background-image: url('images/C_P_5.png');
}
#piece7 {
    top: calc(100vh - 20vw);
    left: 90vw;
    background-image: url('images/C_P_6.png');
}
#piece8 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 30vw;
    background-image: url('images/C_P_7.png');
}
#piece9 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 40vw;
    background-image: url('images/C_P_8.png');
}
#piece10 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 50vw;
    background-image: url('images/C_P_9.png');
}
#piece11 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 60vw;
    background-image: url('images/C_P_10.png');
}
#piece12 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 70vw;
    background-image: url('images/C_P_11.png');
}
#piece13 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 80vw;
    background-image: url('images/C_P_12.png');
}
#piece14 {
    top: calc(100vh - 10vw); /* 使用calc函數定位，100vh是全視口高度，20vw是從底部起的偏移量 */
    left: 90vw;
    background-image: url('images/C_P_13.png');
}
.chess-slot {    
    width: 30%;
    height: 5%;
    position: absolute;
    background-size: cover;
    z-index: 2;
}
#slot1 {
    top: 6.8%; 
    left: 35%;
}
#slot2 {
    top: 6.8%;
    left: 1.8%; 
}
#slot3 {
    top: 6.8%;
    left: 68%; 
}
#slot4 {
    top: 1%; 
    left: 35%;
}
#slot5 {
    top: 12.6%;
    left: 35%;
}
#slot6 {
    top: 18.4%;
    left: 35%;
}
#slot7 {
    top: 18.4%;
    left: 1.8%;
}
#slot8 {
    top: 18.4%;
    left: 68%;
}
#slot9 {
    top: 24.2%;
    left: 35%;
}
#slot10 {
    top: 30%;
    left: 35%;
}
#slot11 {
    top: 30%;
    left: 1.8%;
}
#slot12 {
    top: 30%;
    left: 68%;
}
#slot13 {
    top: 35.8%;
    left: 35%;
}
#slot14 {
    top: 41.8%;
    left: 35%;
}
#slot15 {
    top: 41.8%;
    left: 1.8%;
}
#slot16 {
    top: 41.8%;
    left: 68%;
}
#slot17 {
    top: 47.6%;
    left: 35%;
}
#slot18 {
    top: 53.4%;
    left: 35%;
}
#slot19 {
    top: 53.4%;
    left: 1.8%;
}
#slot20 {
    top: 53.4%;
    left: 68%;
}
#slot21 {
    top: 59.2%;
    left: 35%;
}
#slot22 {
    top: 65%;
    left: 35%;
}
#slot23 {
    top: 65%;
    left: 1.8%;
}
#slot24 {
    top: 65%;
    left: 68%;
}
#slot25 {
    top: 70.8%;
    left: 35%;
}
#slot26 {
    top: 76.6%;
    left: 35%;
}
#slot27 {
    top: 76.6%;
    left: 1.8%;
}
#slot28 {
    top: 76.6%;
    left: 68%;
}
#slot29 {
    top: 82.6%;
    left: 35%;
}
#slot30 {
    top: 88.4%;
    left: 35%;
}
#slot31 {
    top: 88.4%;
    left: 1.8%;
}
#slot32 {
    top: 88.4%;
    left: 68%;
}
#slot33 {
    top: 94.2%;
    left: 35%;
}
.chess-slot2 {
    width: 30%;
    height: 28%;
    position: absolute;
    background-size: cover;
    z-index: 2;
}
#slot34 {
    top: 35%;
    left: 35%;
}
#slot35 {
    top: 35%;
    left: 2%;
}
#slot36 {
    top: 35%;
    left: 68.5%;
}
#slot37 {
    top: 2%;
    left: 35%;
}
#slot38 {
    top: 68%;
    left: 35%;
}
#instructions {
    position: fixed; /* 固定位置，滚动时不会移动 */
    top: 10px; /* 距离页面顶部10px */
    right: 10px; /* 距离页面右侧10px */
    background-color: white; /* 背景色 */
    border: 1px solid black; /* 黑色边框 */
    padding: 10px; /* 内边距 */
    z-index: 1000; /* 确保它位于最顶层 */
    width: 200px; /* 定义宽度 */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* 添加阴影效果 */
    font-size: 20px; /* 字体大小 */
}

@media (max-width: 600px) {
    #instructions {
        width: 100%; /* 在小屏幕上宽度为100% */
        top: 0;
        right: 0;
        font-size: 12px; /* 调整字体大小 */
        padding: 5px; /* 在小屏幕上减少内边距 */
    }
}
